* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  /* height: 100vh; */
  /* overflow: hidden; */
}

.container {
  max-width: 90%;
  width: 1200px;
  margin: 0 auto;
}

li,
a,
button {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.nav__header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav__header img {
  width: 110px;
}

.nav__header a {
  margin: auto 0;
  color: #000;
  font-size: 1rem;
}


.nav__menu {
  background: #e4002b;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}


.nav__menu ul {
  list-style: none;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
}

.nav__menu ul li {
  border-right: 1px solid #d4d4d4;
  padding: 20px 10px;
}

.nav__menu ul li:nth-child(5) {
  border-right: none;
}

.ordering__banner {
  background: url(images/bgLocalization-Desktop.jpg) no-repeat center center
    fixed;
  background-size: cover;
  /* height: 500px; */
  /* overflow: hidden; */
}

.ordering__banner h1 {
  text-align: center;
  text-shadow: 0 1px 12px rgb(0 0 0 / 80%);
  padding: 20px 0;
  color: #fff;
}

.btn {
  width: 400px;
  padding: 15px 0;
  border-radius: 5px;
  background-color: #e4002b;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 20px 0;
}

.tab p {
  padding: 0 0 20px 0;
  font-weight: bold;
}

.text__searchbox {
  width: 400px;
  padding: 10px;
  font-weight: bold;
}

.tab ::placeholder {
  color: #000;
}

.ordering__tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
}

.ordering__tabs input[type="radio"] {
  display: none;
}

.ordering__tabs label {
  background-color: #fff;
  padding: 20px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  width: 30%;
  text-align: center;
  border-right: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(173, 173, 173);
}

.ordering__tabs .tab {
  width: 100%;
  padding: 20px 0 40px 0;
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 5px 5px;
  order: 1;
  display: none;
}

.ordering__tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.ordering__tabs input[type="radio"]:checked + label {
  font-size: 1.2em;
  width: 40%;
  border-bottom: none;
}

.offering__deals {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.offering__deals h2 {
  padding: 20px 10px;
}

.kfc__offer {
  max-width: 100%;
  padding: 5px 10px;
}

hr {
  max-width: 97%;
  margin: 0 auto;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.footer__image {
  display: flex;
  justify-content: center;
  padding: 10px 0 40px 0;
}

.footer__menu {
  text-align: center;
  display: flex;
  justify-content:space-around;

}

.footer__menu .title {
  font-weight: bold;
  padding: 10px 0;
}

.footer__menu li {
  padding: 5px 0;
}

.footer__menu li a {
  list-style: none;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

.social_mediaLinks {
  text-align: center;
  padding: 10px 0;
}

.social_mediaLinks p {
  font-weight: bold;
}